@import "tailwindcss";
@import "./../public/fonts/AvenirNextCyr/stylesheet.css";
@custom-variant dark (&:where(.dark, .dark *));



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F8FF;
    --foreground: #000;
  }
}

body {
  @apply bg-[#F5F8FF] dark:bg-gray-900 text-["#484848"] dark:text-white transition-colors;
  font-family: 'Avenir Next Cyr', sans-serif;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.2s ease-out;
}

@layer components {
  .heading-h1 {
    @apply text-3xl md:text-[55px] font-bold bg-gradient-to-r from-[#6476f1] to-[#3eacf8] bg-clip-text text-transparent uppercase;
  }

  .heading-h2 {
    @apply text-[25px] font-bold text-[#484848] uppercase;
  }

   .heading-h3 {
    @apply text-[16px] font-bold text-[#484848] uppercase;
  }

  .paragraph {
    @apply text-[14px] text-[#484848] uppercase;
  }
}