@import "tailwindcss";
@import "./../public/fonts/AvenirNextCyr/stylesheet.css";
@custom-variant dark (&:where(.dark, .dark *));



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #F5F8FF;
    --foreground: #000;
  }
}

body {
  @apply bg-[#F5F8FF] dark:bg-gray-900 text-["#484848"] dark:text-white transition-colors;
  font-family: 'Avenir Next Cyr', sans-serif;
}

@keyframes slide-down {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-slide-down {
  animation: slide-down 0.2s ease-out;
}

@layer components {
  .heading-h1 {
    @apply text-3xl md:text-[40px] font-bold bg-gradient-to-r from-[#133b88] to-[#3257C8]  bg-clip-text text-transparent uppercase;
  }

  .heading-h2 {
    @apply text-[25px] font-bold text-[#484848] uppercase;
  }

   .heading-h3 {
    @apply text-[16px] font-bold text-[#484848] dark:text-[#F5F8FF] uppercase;
  }

  .paragraph {
    @apply text-[14px] text-[#484848] uppercase;
  }
}

@layer utilities {
  .bg-primary {
    @apply bg-[#133b88];
  }
  .bg-secondary {
    @apply bg-[#126fe6];
  }

}


@keyframes phone-pulse {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  70% {
    transform: scale(1.8);
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

.animate-phone-pulse {
  animation: phone-pulse 1.5s ease-out infinite;
}


